<div ng-include="'templates/header.htm'"></div>
	<div class="page-header ">
        <h1>
        	<span class="fa fa-anchor"></span> Edit Video
        </h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 offset-md-3">
        	<div ng-if="errormsg.length > 0" class="alert alert-danger">
        		<ul>
        			<li ng-repeat="msg in errormsg">{{msg}}</li>
        		</ul>
        	</div>
        	<div class="login-form">
        		<div class="form-group text-center" ng-if="formdata.download_icon">
        			<img style="width: 100px; height: 100px;" src="{{domainurl_img}}{{formdata.download_icon}}" />
        		</div>
        		<div class="form-group">
        			<input type="file" ng-model="myFile"  class="form-control" id ="downloadIconField"/>
        			<button ng-click="uploadIcon()" class = "btn btn-primary">Upload Video Icon</button>
        		</div>
        		<br/>
        		<div class="form-group">
        			<input type="file" ng-model="myvideo"  class="form-control" id ="downloadVideoField"/>
        			<button ng-click="uploadVideo()" class = "btn btn-primary">Upload Video</button>
        		</div>
	            <div class="form-group">
	                <label>Content Category</label>
	                <select class="form-control" ng-model="formdata.download_type" ng-options="cat.id as cat.name for cat in download_category">
	                	<option value="">--Select Video Category--</option>
	                </select>
	            </div>
	            <div class="form-group">
	                <label>Country</label>
	                <select class="form-control" ng-model="formdata.country_id" ng-options="country.countryid as country.country_name for country in countries">
	                	<option value="">--Select country--</option>
	                </select>
	            </div>
	            <div class="form-group">
	                <label>Department</label>
	                <select class="form-control" ng-model="formdata.deptt_id" ng-options="dept.depttid as dept.name for dept in departments">
	                	<option value="">--Select Department--</option>
	                </select>
	            </div>
	            <div class="form-group">
	                <label>title</label>
	                <input placeholder="title" type="text" class="form-control" name="username" ng-model="formdata.title">
	            </div>
	            <div class="form-group">
	                <label>Long Desc</label>
	                <textarea placeholder="Long Desc"  class="form-control" name="password" ng-model="formdata.description"></textarea>
	            </div>
	            <button ng-click="submitVideo()" type="submit" class="btn btn-primary btn-lg">Submit</button>
	        </div>
        </div>
    </div>
<div ng-include="'templates/footer.htm'"></div>